* {
  margin: 0;
  font-family: "Lato", sans-serif;
}
.primary-p  {
  margin: 30px 0px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* .primary-h2{

} */

.header-bg {
  height: 850px;
  background-color: rgba(229, 84, 115, 0.1);
}
.banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 100px;
}

.banner-content {
  max-width: 700px;
}
.banner-content h1 {
  font-size: 80px;
  font-weight: 800;
  color: #272727;
}


.banner-img {
  padding-top: 50px;
}

.btn {
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 20px 40px;
  background-color: #e55473;
  border-radius: 8px;
  border-width: 0;
  cursor: pointer;
}
.featured {
  margin: 150px 0 48px 0;
  text-align: center;
}
.featured h4 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.featured p {
  font-size: 18px;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: auto;
}
.product {
  display: flex;
  justify-content: space-between;
}
.flower-tree {
  text-align: center;
}
.flower-tree a {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
}


.first,
.second {
  /* display: block; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* padding-top: 110px; */
  position: relative;
  bottom: -112px;
}
.third {
  position: relative;
  bottom: -68px;
}
.flower-img1{
  height: 540px;
  width: 465px;
  margin-bottom: 32px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);

}

.flower-img2{
  height: 540px;
  width: 465px;
  margin-bottom: 32px;
  background: #DDEFFB;
  
}




.service {
  width: 1440px;
  height: 320px;
  margin-top: 128px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  line-height: 35px;
}
.service p{
  color: rgba(39, 39, 39, 0.80);
text-align: center;

font-size: 24px;

font-weight: 600;
line-height: 35px;
}

.hot-deal {
  margin-top: 128px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 200px;
}
.deal-contant {
  max-width: 595px;
  text-align: center;
  padding-top: 130px;
}
.deal-contant h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  
}



.insta {
  width: 590px;
  margin: auto;
  text-align: center;
  margin-top: 128px;
}
.insta h2 {
  font-size: 40px;
  font-weight: 800;
}
.insta p{
  padding: 10px 0px;
}


.insta-item {
  display: flex;
  justify-content: space-between;
}
.latest-deal {
  
  height: 450px;
  background-image: url(flower-asset/Rectangle\ 9.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 125px;
  margin-bottom: 125px;
  /* margin: 125px 0px 125px 0px; */
}
.latest-deal h2 {
  color: #272727;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 800;
}

.ld {
  margin-top: 45px;
}
.ld input {
  width: 700px;

  padding: 24px;
  border-radius: 8px;
  border-width: 0;
  margin-right: 10px;
}
::placeholder {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
}

.flower-shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  color: white;
  background: #111010;
}
.flower-shop h2 {
  font-size: 48px;
  font-weight: 800;
}

.user-review{
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
  height: 450px;
  /* background: rgba(229, 84, 115, 0.05); */
}
.ur{
  color: #272727;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

.user{
  max-width: 250px;
  text-align: center;
  line-height: 20px;
}

.user-review img{  
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 30px;
  border: 1px solid #111010;
}
.border{
  border-right: 2px solid black;
  padding-right: 100px;
}




.clr {
  color: #e55473;
}
.last-part {
  width: 625px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
  padding: 24px 0px 32px 0px;
  /* margin: 24px 0px 32px 0px; */
}
.copyright{
color: rgba(255, 255, 255, 0.40);  
text-align: center;
font-size: 16px;
font-weight: 400;
} 