* {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.header-bg {
  height: 850px;
  background-color: rgba(229, 84, 115, 0.1);
}
.banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.banner-content {
  max-width: 700px;
}
.banner-content h1 {
  font-size: 80px;
  font-weight: 800;
  color: #272727;
}
.banner-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin: 30px 0px;
}

.banner-img {
  padding-top: 50px;
}

.btn {
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 20px 40px;
  background-color: #e55473;
  border-radius: 8px;
  border-width: 0;
}
.featured {
  margin: 150px 0 48px 0;
  text-align: center;
}
.featured h4 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.featured p {
  font-size: 18px;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: auto;
}
.product {
  display: flex;
  justify-content: space-between;
}
.flower-tree {
  text-align: center;
}
.flower-tree a {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
}

.flower-img {
  height: 540px;
  width: 465px;
  margin-bottom: 32px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.first,
.second {
  /* display: block; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* padding-top: 110px; */
  position: relative;
  bottom: -112px;
}
.third {
  position: relative;
  bottom: -68px;
}

.service {
  width: 1440px;
  height: 320px;
  margin-top: 128px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  line-height: 35px;
}

.hot-deal {
  margin-top: 128px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 200px;
}
.deal-contant {
  max-width: 595px;
  text-align: center;
  padding-top: 130px;
}
.deal-contant h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 24px;
}

.deal-contant p {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 32px;
}

.insta {
  width: 590px;
  margin: auto;
  text-align: center;
  margin-top: 128px;
}
.insta h2 {
  font-size: 40px;
  font-weight: 800;
}

.insta p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 25px 0;
}
.insta-item {
  display: flex;
  justify-content: space-between;
}
.latest-deal {
  margin-top: 125px;
  height: 450px;
  background-image: url(flower-asset/Rectangle\ 9.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.latest-deal h2 {
  color: #272727;

  font-size: 40px;
  font-weight: 800;
}
.latest-deal p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.ld{
    margin-top: 45px ;
   border: 2px solid red;
}
.ld input {
  width: 700px;
  
  padding: 23px ;
  border-radius: 8px;
  border-width: 0;
  margin-right: 10px;
  
}
::placeholder {
  color: rgba(39, 39, 39, 0.6);font-size: 16px;
  font-weight: 400;
}

